<div class="header">
<div class="banner">
  <div class="container">
    <h1><strong>My Designated Driver</strong></h1>
    <p>Drive, don't fly!</p>
    <a href="#offers" class="btn btn-dark glow">Offers</a>
  </div>
</div>

  <h1 class="font" style="margin-top: 50px;">Ride Offers</h1>
<div class="card-container" id="offers">
  <% @driving_offers.each do |offer| %>
    <div class="card offer-card text-dark" style="width: 18rem;">
      <% if offer.photo.attached? %>
        <%= cl_image_tag(offer.photo.key, crop: :fill) %>
        <% else %>
        <img class="avatar-large ava_space mb-2" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <% end %>

      <h5><%= offer.name %></h5>
      <p><strong><%= image_tag 'cash-coin.svg' %></strong> From <%= offer.price %> € </p>
       <%= link_to "Book drive", driving_offer_path(offer) , class: "btn btn-primary"%>
    </div>
<% end %>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
