<p>index page</p>
<h1 class="top_header">My designated Driver</h1>
<h3 class="slogan">Drive, don´t fly</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="header">Drive offers</h1>
<div class="container card-container">
<% @driving_offers.each do |offer| %>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
     <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title"> <%= offer.user.first_name %> <%= offer.user.second_name %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Start time</strong> <%=offer.start_time%> </li>
        <%# <li class="list-group-item">End time <%= offer.end_time %> </li>
        <li class="list-group-item"><strong>Price</strong> <%= offer.price %> € </li>
        <%# <li class="list-group-item">Qualification <%= offer.qualification %></li>
        <%# <li class="list-group-item">Experiences <%= offer.experience %></li>
        <%# <li class="list-group-item">Event address <%= offer.event_address %></li>
        <%# <li class="list-group-item">Event name <%= offer.event_name %> </li>
      </ul>
       <%= link_to "Book drive", driving_offer_path(offer) , class: "btn btn-primary"%>
    </div>
<% end %>
</div>


<br>
<br>
<br>
<br>
<br>
