<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/562bdf80499613.5ce33a74c9768.jpg");">
  <div class="container">
    <h1><strong>My designated Driver</strong></h1>
    <p>Drive, don´t fly!</p>
  </div>
</div>

<div class="card-container">
  <h1 class="header container">Drive offers</h1>
  <% @driving_offers.each do |offer| %>
    <div class="card offer-card" class="cardstyle" style="width: 18rem;">
     <img class="avatar-large ava_space" alt="avatar-large" src="https://source.unsplash.com/random"/>
      <div class="card-body">
        <h5 class="card-title"> <%= offer.user.first_name %> <%= offer.user.second_name %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Start time</strong> <%=offer.start_time%> </li>
        <%# <li class="list-group-item">End time <%= offer.end_time %> </li>
        <li class="list-group-item"><strong>Price</strong> <%= offer.price %> € </li>
        <%# <li class="list-group-item">Qualification <%= offer.qualification %></li>
        <%# <li class="list-group-item">Experiences <%= offer.experience %></li>
        <%# <li class="list-group-item">Event address <%= offer.event_address %></li>
        <%# <li class="list-group-item">Event name <%= offer.event_name %> </li>
      </ul>
       <%= link_to "Book drive", driving_offer_path(offer) , class: "btn btn-primary"%>
    </div>
<% end %>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
