<div class="wrapper">
  <div class="container">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://media.istockphoto.com/photos/portrait-of-handsome-smiling-young-man-with-crossed-arms-picture-id1200677760?k=20&m=1200677760&s=612x612&w=0&h=JCqytPoHb6bQqU9bq6gsWT2EX1G5chlW5aNK81Kh4Lg=" class="card-img-top" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title"><%= @driving_offer.user.first_name %> <%= @driving_offer.user.second_name %></h1><br>
        <p class="card-text">Experience: <%= @driving_offer.experience %></p>
        <p class="card-text">Qualification: <%= @driving_offer.qualification %></p>
        <p class="card-text">Price from: <%= @driving_offer.price %> euro</p>


        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <%= link_to "Book", new_driving_offer_path, class: "btn btn-outline-success" %>
      </div>
    </div>
    </div>
  </div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="containermain-container">
    <h1>MyDD <strong>Drive, don't fly. <strong></strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
